
.IZB-img-buttons {
    display: none;
    position: absolute;
}
#IZB-zoomin {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/zoomin.png) 1px 1px no-repeat;
    cursor: pointer;
}
.IZB-zoom-box {
    height: 0px;
    width: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: url(../img/zoombox_bg.png);
    z-index: 10000;
}
#IZB-img-container {
    display: block;
    position: relative;
    overflow: auto;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.zoom-box-img {
    position: absolute;
    max-width: none;
    max-height: none;
    cursor: zoom-out;
    z-index: 10003;
}
.draggable {
    cursor: url(../img/grab.cur);
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.dragging {
    cursor: url(../img/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
#IZB-zoom-box-tools {
    display: none;
    width: 100%;
    height: 24px;
    text-align: center;
}
.IZB-tool-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin: 5px 5px 0 5px;
    background: url(../img/jquery.ui.1.12.1/ui-icons_444444_256x240.png) 0 0 no-repeat;
    background-color: #fff;
    border-radius: 3px;
    float: left;
}
.IZB-tool-button:hover {
    background-color: #ddd;
}
.ztb-zoomin {
    background-position: -32px -128px;
}
.ztb-zoomout {
    background-position: -64px -128px;
}
.ztb-zoomclose {
    background-position: -96px -128px;
}
#IZB-zoom-input {
    position: absolute;
    width: 78px;
    left: 0px;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25em;
    border: 0;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
text-align: center;
}
#IZB-zoom-select {
    width: 100px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25em;

    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
text-align: center;
}
